<div>
    <a data-bs-toggle="collapse" href="#timeDiv" role="button" aria-expanded="false" aria-controls="timeDiv">
        <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-clock"></i>&nbsp;<span style="font-weight:bolder">Time Representation</span>
        </span>
    </a>
    <div class="collapse" id="timeDiv">
        <div class="card card-body">
            <button type="button" id="relBtn" class="btn btn-primary relAbsBtn"><i class="fa-solid fa-stopwatch"></i>&nbsp;Relative</button>
            <button type="button" id="absBtn" class="btn btn-primary relAbsBtn"><i class="fa-solid fa-calendar-day"></i>&nbsp;Absolute</button>
        </div>
    </div>
</div>
