<div>
    <!--This tab div allows the auto scroll to work fine when showing the tab-->
    <div class="input-group input-group-sm mb-3">
        <button type="button" id="sendBtn" class="btn btn-primary">Send</button>
        <input type="text" class="form-control" id="sendInput" placeholder="Data to send" value="">
    </div>

    <div id="commandButtonContainer" class="row mb-3">
    </div>

    <div class="input-group input-group-sm mb-3" id="addCommandDiv">
        <button type="button" id="addCommandBtn" class="btn btn-primary">Add a command</button>
        <input type="text" class="form-control form-control-sm" id="addCommandName" placeholder="Command name" value="">
        <input type="text" class="form-control form-control-sm" id="addCommandData" placeholder="Data to send" value="">
        <input type="color" class="form-control form-control-sm" id="addCommandColor" value="#fffffe">
    </div>
</div>