<div class="input-group input-group-sm mb-3">
    <button type="button" id="sendBtn" class="btn btn-primary">Send</button>
    <input type="text" class="form-control" id="sendInput" placeholder="Data to send" value="">
</div>

<div id="commandButtonContainer">
</div>

<div>
    <button type="button" id="addCommandBtn" class="btn btn-primary">Add a command...</button>
</div>

<div class="input-group input-group-sm mb-3" id="addCommandDiv">
    <input type="text" class="form-control" id="addCommandName" placeholder="Command name" value="">
    <input type="text" class="form-control" id="addCommandData" placeholder="Data to send" value="">
    <input type="color" class="form-control" id="addCommandColor" value="#ff00ff">
</div>