<!--
 * @ Licence: OwnPlot, the OwnTech data plotter. Copyright (C) 2022. Matthias Riffard & Guillaume Arthaud - OwnTech Foundation.
	Delivered under GNU Lesser General Public License Version 2.1 (https://opensource.org/licenses/LGPL-2.1)
 * @ Website: https://www.owntech.org/
 * @ Mail: owntech@laas.fr
 * @ Create Time: 2022-08-24 14:04:45
 * @ Modified by: Guillaume Arthaud
 * @ Modified time: 2022-09-07 13:45:14
 * @ Description:
 -->

<!--This tab div allows the auto scroll to work fine when showing the tab-->
<div>
    <div class="input-group input-group-sm mb-3" data-tooltip="Send a command" data-bs-toggle="tooltip" title="Send a command">
        <button type="button" id="sendBtn" class="btn btn-primary col-4">Send</button>
        <input type="text" class="form-control" id="sendInput" placeholder="Data to send" value="">
    </div>

    <div class="input-group input-group-sm mb-3" data-tooltip="Select configuration" data-bs-toggle="tooltip" title="Select configuration">
        <label class="input-group-text" for="buttonConfigSelect">Config</label>
        <select class="form-select" id="buttonConfigSelect">
            <option selected value="new">-- new --</option>
            <!-- <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option> -->
        </select>
    </div>

    <div class="input-group input-group-sm mb-3" id="saveConfigInputGroup" data-tooltip="Enter a new configuration" data-bs-toggle="tooltip" title="Enter a new configuration">
        <button class="btn btn-primary" type="button" id="saveConfigButton">New config</button>
        <input type="text" class="form-control" id="saveConfigName" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>

    <div class="input-group input-group-sm mb-3" id="addCommandDiv">
        <button type="button" id="addCommandBtn" class="btn btn-primary col-4">Add command</button>
        <input type="text" class="form-control form-control-sm col-4" id="addCommandName" placeholder="Name" value="" data-tooltip="Enter command name" data-bs-toggle="tooltip" title="Enter command name">
        <input type="text" class="form-control form-control-sm col-4" id="addCommandData" placeholder="Data to send" value="" data-tooltip="Enter command data" data-bs-toggle="tooltip" title="Enter command data">
        <!-- remove the choice of the color for now
        <input type="color" class="form-control form-control-sm" id="addCommandColor" value="#fffffe">        
        -->
    </div>


    <div id="commandButtonContainer" class="card card-body mb-3"></div>
    
    <div class="input-group input-group-sm mb-3">
        <button type="button" class="btn btn-danger col-12 btn-sm" id="deleteButtonButton">Delete Buttons</button>
    </div>
    <div class="input-group input-group-sm mb-3">
        <button type="button" class="btn btn-primary col-12 btn-sm" id="saveConfigButtonButton">Save the config</button>
    </div>

    <div class="mb-3">
        <a data-target="#commandHistoryDiv" class="collapseHead" id="commandHistory" role="button" aria-controls="commandHistoryDiv">
            <span class="input-group-text" id="commandHistoryTitle">
                <i class="fa-solid fa-eye"></i>&nbsp;<span style="font-weight:bolder">Command History</span>
            </span>
        </a>
        <div class="collapse show" id="commandHistoryDiv">
            <div class="card card-body">
                <button type="button" aria-pressed="false" id="commandBtnTimestamp" class="btn btn-primary btn-sm mb-3 col-5" data-tooltip="Toggle timestamp in command history" data-bs-toggle="tooltip" title="Toggle timestamp in command history">
                    <i class="fa-solid fa-stopwatch"></i>&nbsp;Timestamp
                </button>
                <div id="terminalHistory"></div>
            </div>
        </div>
    </div>
    <div class="input-group input-group-sm mb-3">
        <button type="button" class="btn btn-danger col-12 btn-sm" id="clearHistoryButton">Clear History</button>
    </div>
</div>