<div class="input-group input-group-sm mb-3">
    <button type="button" id="sendBtn" class="btn btn-primary">Send</button>
    <input type="text" class="form-control" id="sendInput" placeholder="Data to send" value="">
</div>