<div class="container-fluid mb-3" id="controlBar">
    <button type="button" class="btn btn-primary clearBtn" id="portclearBtn" disabled>
        <i class="fa-solid fa-trash-can"></i>&nbsp;Clear
    </button>
    <button type="button" class="btn btn-warning pauseBtn" id="pauseBtnPort" disabled>
        <i class="fa-solid fa-pause"></i>&nbsp;Paused
    </button>
</div>