<br />
<div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="basic-addon1"># Channels</span>
    <input type="number" class="form-control" value="1" min="0" max="256">
</div>
<div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="basic-addon1">Frame Size</span>
    <input type="number" class="form-control" value="1" min="1" max="1000000">
</div>
<div class="input-group input-group-sm mb-3">
	<span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-scissors"></i>&nbsp;Separator</span>
	<input type="text" id="separator" name="separator" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>


<div class="input-group input-group-sm mb-3">
	<label class="input-group-text" for="inputGroupSelect01">Number Type</label>
	<select class="form-select" id="AvailablePorts" name="nbType">
        <option value="uint8">uint8</option>
        <option value="uint16">uint16</option>
        <option value="uint32">uint32</option>
        <option value="int8">int8</option>
        <option value="int16">int16</option>
        <option value="int32">int32</option>
        <option value="float">float</option>
        <option value="double">double</option>
    </select>
</div>

<div class="input-group input-group-sm mb-3">
	<label class="input-group-text" for="inputGroupSelect01">Endianness</label>
	<select class="form-select" id="AvailablePorts" name="endianness">
        <option value="little">Little Endian</option>
        <option value="big">Big Endian</option>
    </select>
</div>