<!--
 * @ Licence: OwnPlot, the OwnTech data plotter. Copyright (C) 2022. Matthias Riffard & Guillaume Arthaud - OwnTech Foundation.
	Delivered under GNU Lesser General Public License Version 2.1 (https://opensource.org/licenses/LGPL-2.1)
 * @ Website: https://www.owntech.org/
 * @ Mail: owntech@laas.fr
 * @ Create Time: 2022-08-30 09:31:24
 * @ Modified by: Jean Alinei
 * @ Modified time: 2022-09-07 13:45:22
 * @ Description:
 -->

<div class="input-group input-group-sm mb-3" id="nbChannelDiv">
    <label class="input-group-text col-5">
        <span style="font-weight:bolder">#</span>&nbsp;Channels
    </label>
    <input type="number" id="nbChannels" class="form-control" value="3" min="0" max="10">
</div>

<div class="input-group input-group-sm mb-3">
	<label class="input-group-text col-5" for="inputGroupSelect01"><i class="fa-solid fa-filter"></i>&nbsp;Format</label>
	<select class="form-select" id="dataFormat" name="dataFormat">
        <option value="ascii" selected>ASCII</option>
        <option value="binary">binary</option>
        <!-- <option value="custom">custom</option> -->
    </select>
</div>

<div id="asciiForm">
    <div class="input-group input-group-sm mb-3">
        <label class="input-group-text col-5" >
            <i class="fa-solid fa-scissors"></i>&nbsp;Separator
        </label>
        <input type="text" id="separator" name="separator" class="form-control" maxlength=1 aria-describedby="basic-addon1">
    </div>
</div>

<div class="input-group input-group-sm mb-3">
	<label class="input-group-text col-5" for="inputGroupSelect01"><i class="fa-solid fa-person-running"></i>&nbsp;BaudRate</label>
    <select class="form-select" id="baudRateSelect" name="baudRate">
        <option value="1200">1200</option>
        <option value="2400">2400</option>
        <option value="4800">4800</option>
        <option value="9600">9600</option>
        <option value="19200">19200</option>
        <option value="38400">38400</option>
        <option value="57600">57600</option>
        <option selected="selected" value="115200">115200</option>
        <option value="230400">230400</option>
        <option value="460800">460800</option>
        <option value="576000">576000</option>
        <option value="921600">921600</option>
        <option value="Custom">Custom</option>
    </select>
</div>

<div id="customBaudRateForm">
    <div class="input-group input-group-sm mb-3">
        <label class="input-group-text col-5" >
            <i class="fa-solid fa-person-running"></i>&nbsp;Custom
        </label>
        <input type="number" id="customBaudRateInput" name="baudrateInput" class="form-control" maxlength=9 aria-describedby="basic-addon1">
    </div>
</div>

<div id="binaryForm">
    <div class="input-group input-group-sm mb-3">
        <label class="input-group-text col-5" for="inputGroupSelect01">Type</label>
        <select class="form-select" id="nbType" name="nbType">
            <option value="uint8" selected>uint8</option>
            <option value="uint16">uint16</option>
            <option value="uint32">uint32</option>
            <option value="int8">int8</option>
            <option value="int16">int16</option>
            <option value="int32">int32</option>
            <option value="float">float</option>
            <option value="double">double</option>
        </select>
    </div>
    
    <div class="input-group input-group-sm mb-3">
        <label class="input-group-text col-5" for="inputGroupSelect01">Endianness</label>
        <select class="form-select" id="endianness" name="endianness">
            <option value="LE">Little Endian</option>
            <option value="BE">Big Endian</option>
        </select>
    </div>

    <button type="button" id="skipByteBtn" class="btn btn-primary"><i class="fa-solid fa-trash-can"></i>&nbsp;Skip Byte</button>
</div>

<!-- TODO: implement custom mode
<div id="customForm">
    <div class="input-group input-group-sm mb-3">
        <label class="input-group-text" >Frame Start</label>
        <input type="text" id="frame-start" class="form-control" value="">
    </div>

    <div class="input-group input-group-sm mb-3">
        <label class="input-group-text" >Frame Size</label>
        <input type="number" class="form-control" value="1" min="1" max="1000000">
    </div>
    
    <div class="input-group input-group-sm mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Number Type</label>
        <select class="form-select" id="nbType" name="nbType">
            <option value="uint8" selected>uint8</option>
            <option value="uint16">uint16</option>
            <option value="uint32">uint32</option>
            <option value="int8">int8</option>
            <option value="int16">int16</option>
            <option value="int32">int32</option>
            <option value="float">float</option>
            <option value="double">double</option>
        </select>
    </div>
    
    <div class="input-group input-group-sm mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Endianness</label>
        <select class="form-select" id="endianness" name="endianness">
            <option value="LE">Little Endian</option>
            <option value="BE">Big Endian</option>
        </select>
    </div>
</div>
-->
