<div id="portInfoDiv">
    <a href="#debugPortInfo" class="collapseHead" role="button" aria-expanded="false" aria-controls="debugPortInfo">
        <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-plug"></i><span style="font-weight:bolder">&nbsp;Port Information</span>
        </span>
    </a>
    <div class="collapse table-responsive" id="debugPortInfo"></div>
</div>

<div id="debugTerminalDiv">
    <a href="#debugTerminal" class="collapseHead" role="button" aria-expanded="false" aria-controls="debugTerminal">
        <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-circle-exclamation"></i><span style="font-weight:bolder">&nbsp;Log</span>
        </span>
    </a>
    <pre class="collapse terminalPre" id="debugTerminal">
	</pre>
</div>