<div class="mb-3">
    <a data-target="#fileSelectionDiv" class="collapseHead" id="fileSelectionHref" role="button" aria-expanded="true" aria-controls="fileSelectionDiv">
        <span class="input-group-text" id="fileSelectionTitle">
            <i class="fa-solid fa-folder-open"></i>&nbsp;<span style="font-weight:bolder">File Selection</span>
        </span>
    </a>
    <div class="collapse show" id="fileSelectionDiv">
        <div class="card card-body">
            <button class="btn btn-primary" type="button" id="fileSelectionBtn"><i class="fa-solid fa-folder-open"></i>&nbsp;Select File</button>
            <span id="selectedFileName"></span>
        </div>
    </div>
</div>