<div class="mb-3">
    <a data-target="#mockport4Div" class="collapseHead" id="mockport4DivHref" role="button" aria-expanded="true"
        aria-controls="mockport4Div">
        <span class="input-group-text" id="mockport4DivTitle">
            <i class="fa-solid fa-file-import"></i>&nbsp;<span style="font-weight:bolder">Mockport 4 settings</span>
        </span>
    </a>
    <div class="collapse show" id="mockport4Div">
        <div class="card card-body">
            <div class="mb-3">
                <div class="col-12 mt-3 ps-0" id="customInterval">
                    <div class="input-group input-group-sm">
                        <label class="input-group-text col-5" data-bs-toggle="tooltip"
                            title="Enter plotting interval (ms)">
                            <i class="fa-solid fa-hourglass-half"></i>&nbsp; Interval (ms)
                        </label>
                        <input type="number" id="intervalTime" name="intervalInput" class="form-control col-7"
                            placeholder="100 (default)" maxlength=9 aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="row p-0 m-0">
                <button class="btn btn-primary mb-3 col-5" type="button" id="fileSelectionBtn" data-bs-toggle="tooltip"
                    title="Select the file to plot">
                    <i class="fa-solid fa-folder-open"></i>&nbsp;Select File
                </button>
                <div class="col-2 px-0">
                    <!-- Padding -->
                </div>
                <button class="btn btn-warning mb-3 col-5" type="button" id="fileLoopBtn" data-bs-toggle="tooltip"
                    title="Loop file data">
                    <i class="fa-solid fa-infinity"></i>&nbsp;Loop Data
                </button>
            </div>
            <span id="selectedFileName"></span>
        </div>
    </div>
</div>