<nav>
    <div class="container horizontal-scrollable" id="nav-tab">
        <div class="nav">
            <div class="nav-item mx-1">
                <button class="btn" id="nav-ownTech-tab" data-bs-toggle="tab" data-bs-target="#nav-ownTech" type="button" role="tab" aria-controls="nav-ownTech" aria-selected="false">
                    <!-- TODO: <img type="image/png" src="../assets/Icon.png" alt="ownTech logo"></img> -->
                </button>
            </div>
            <div class="nav-item mx-1">
                <button class="btn menu-btn" id="nav-command-tab" data-bs-toggle="tab" data-bs-target="#nav-command" type="button" role="tab" aria-controls="nav-dataFormat" aria-selected="false">
                    <i class="bigIcon fa-solid fa-paper-plane"></i>
                    <h6>Command</h6>
                </button>
            </div>
            <div class="nav-item mx-1">
                <button class="btn menu-btn" id="nav-settings-tab" data-bs-toggle="tab" data-bs-target="#nav-settings" type="button" role="tab" aria-controls="nav-settings" aria-selected="false">
                    <i class="bigIcon fa-solid fa-gear"></i>
                    <h6>Settings</h6>
                </button>
            </div>
            <div class="nav-item mx-1">
                <button class="btn menu-btn" id="nav-chartConfig-tab" data-bs-toggle="tab" data-bs-target="#nav-chartConfig" type="button" role="tab" aria-controls="nav-chartConfig" aria-selected="false">
                    <i class="bigIcon fa-solid fa-chart-line"></i>
                    <h6>Chart Config</h6>
                </button>
            </div>
            <div class="nav-item mx-1">
                <button class="btn menu-btn" id="nav-record-tab" data-bs-toggle="tab" data-bs-target="#nav-record" type="button" role="tab" aria-controls="nav-record" aria-selected="false">
                    <i class="bigIcon fa-solid fa-compact-disc"></i>
                    <h6>Record</h6>
                </button>
            </div>
        </div>
    </div>
</nav>