<div class="col">
	<div class="row mb-2">
		<button type="button" class="btn mx-1 btn-sm btn-warning btn-square portBarBtn" aria-pressed="true" id="openPortBtn">
			<span class="nonBreakable">No port</span>
		</button>
		<button type="button" class="btn mx-1 btn-sm btn-primary btn-square portBarBtn" id="clearPortBtn" disabled>
			<i class="fa-solid fa-trash-can"></i><br>Clear
		</button>
		<button type="button" class="btn mx-1 btn-sm btn-warning btn-square portBarBtn" id="pausePortBtn" disabled>
			<i class="fa-solid fa-pause"></i><br>Paused
		</button>
	</div>
	
	<div class="row">
		<div class="input-group px-1 mx-0">
			<label class="input-group-text" for="inputGroupSelect01"><i class="fa-solid fa-plug"></i>&nbsp;Port</label>
			<select class="form-select" id="AvailablePorts" name="AvailablePorts">
			</select>
		</div>
	</div>
</div>
