<div class="input-group mb-3">
	<label class="input-group-text" for="inputGroupSelect01"><i class="fa-solid fa-plug"></i>&nbsp;Port</label>
	<select class="form-select" id="AvailablePorts" name="AvailablePorts">
	</select>
</div>
<row>
	<button type="button" id="portclearBtn" class="btn btn-primary clearBtn"><i class="fa-solid fa-trash-can"></i>&nbsp;Clear</button>
	<button type="button" class="btn pauseBtn" aria-pressed="true" id="pauseBtnPort">non init</button>
	<button type="button" class="btn btn-warning" aria-pressed="true" id="openPortBtn">Close the port</button>
</row>
