<br />
<div class="input-group mb-3">
	<label class="input-group-text" for="inputGroupSelect01"><i class="fa-solid fa-plug"></i>&nbsp;Port</label>
	<select class="form-select" id="AvailablePorts" name="AvailablePorts">
	</select>
</div>
<div class="input-group mb-3">
	<span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-scissors"></i>&nbsp;Separator</span>
	<input type="text" id="separator" name="separator" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
<button type="button" class="btn" aria-pressed="true" id="pauseBtn">non init</button>
<button type="button" class="btn btn-warning" aria-pressed="true" id="openPortBtn">Close the port</button>
