<!--
 * @ Licence: OwnPlot, the OwnTech data plotter. Copyright (C) 2022. Matthias Riffard & Guillaume Arthaud - OwnTech Foundation.
	Delivered under GNU Lesser General Public License Version 2.1 (https://opensource.org/licenses/LGPL-2.1)
 * @ Website: https://www.owntech.org/
 * @ Mail: owntech@laas.fr
 * @ Create Time: 2022-08-30 09:31:24
 * @ Modified by: Matthias Riffard
 * @ Modified time: 2022-09-07 14:27:44
 * @ Description:
 -->

<div class="mb-3">
    <a data-target="#dataFormatDiv" class="collapseHead" id="dataFormatHref" role="button" aria-controls="dataFormatDiv">
        <span class="input-group-text" id="dataFormatTitle">
            <i class="fa-solid fa-gears"></i>&nbsp;<span style="font-weight:bolder">Data Format</span>
        </span>
    </a>
    <div class="collapse show" id="dataFormatDiv">
        <div class="card card-body">
            <%- include('dataFormatTab'); %>
        </div>
    </div>
</div>

<!-- Terminal settings -->
<div class="mb-3">
    <a data-target="#terminalSettingsDiv" class="collapseHead" role="button" id="terminalSettingsHref" aria-expanded="true" aria-controls="terminalSettingsDiv">
        <span class="input-group-text" id="terminalSettingsTitle">
            <i class="fa-solid fa-display"></i>&nbsp;<span style="font-weight:bolder">Terminal</span>
        </span>
    </a>
    <div class="collapse show" id="terminalSettingsDiv">
        <div class="card card-body">
            <div class="input-group input-group-sm mb-3" id="termBufSizeDiv" data-tooltip="Number of lines shown in terminal (max. 1000)" data-bs-toggle="tooltip" title="Number of lines shown in terminal (max. 1000)">
                <label class="input-group-text col-5">
                    <span style="font-weight:bolder">#</span>&nbsp;Lines
                </label>
                <input type="number" id="termBufSizeInput" class="form-control" value="20" min="0" max="1000">
            </div>
            <div class="row m-0 p-0">
                <button type="button" aria-pressed="false" id="terminalBtnTimestamp" class="btn btn-primary btn-sm mb-3 col-5" data-tooltip="Toggle timestamp in terminal" data-bs-toggle="tooltip" title="Toggle timestamp in terminal">
                    <i class="fa-solid fa-stopwatch"></i>&nbsp;Timestamp
                </button>
                <div class="col-2 px-0">
                    <!-- Padding -->
                </div>
                <button type="button" aria-pressed="false" id="terminalBtnDataMode" class="btn btn-primary btn-sm mb-3 col-5" data-tooltip="Select numeral system" data-bs-toggle="tooltip" title="Select numeral system">
                    <i class="fa-solid fa-arrow-down-1-9"></i></i>&nbsp;Decimal
                </button>
                <button type="button" aria-pressed="false" id="terminalBtnFormatted" class="btn btn-primary btn-sm mb-3 col-5" data-tooltip="Select data format" data-bs-toggle="tooltip" title="Select data format">
                    <i class="fa-solid fa-droplet"></i></i>&nbsp;Formatted
                </button>
            </div>
        </div>
    </div>
</div>


<!--GUI_About_tab-->
<div class="container horizontal-scrollable mx-0 px-0" id="nav-tab">
    <div class="nav mx-0">
        <div class="chartApp nav-item mx-1">
            <a href="https://github.com/owntech-foundation/OwnPlot/releases" target="_blank">
                <button class="btn menu-btn" id="settings-ownPlot-releases" data-bs-toggle="tab" type="button" role="tab" data-tooltip="OwnPlot releases" data-bs-toggle="tooltip" title="OwnPlot releases">
                    <i class="bigIcon fa-brands fa-github"></i>
                    <div class="navbarTitle">Releases</div>
                </button>
            </a>
        </div>      

        <div class="chartApp nav-item mx-1">
            <a href="https://github.com/owntech-foundation/OwnPlot/" target="_blank">
                <button class="btn menu-btn" id="settings-ownPlot-about" data-bs-toggle="tab" type="button" role="tab" data-tooltip="About OwnPlot" data-bs-toggle="tooltip" title="About OwnPlot">
                    <i class="bigIcon fa-solid fa-question"></i>
                    <div class="navbarTitle">About</div>
                </button>
            </a>
        </div>
    </div>
</div> 