<div class="my-2">
	<div class="tab-content my-3" id="nav-tabContent">
		<div class="tab-pane tab-pane-push fade" id="nav-command" role="tabpanel" aria-labelledby="nav-command-tab">
			<%- include('commandTab'); %>
		</div>
		<div class="tab-pane tab-pane-push fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab">
			<%- include('settingsTab'); %>
		</div>
		<div class="tab-pane tab-pane-push fade" id="nav-chartConfig" role="tabpanel" aria-labelledby="nav-chartConfig-tab">
			<%- include('chartConfigTab'); %>
		</div>
		<div class="tab-pane tab-pane-push fade" id="nav-record" role="tabpanel" aria-labelledby="nav-record-tab">
			<%- include('recordTab'); %>
		</div>
	</div>
</div>