<!--
 * @ Author: Guillaume Arthaud & Matthias Riffard (OwnTech Fundation)
 * @ Website: https://www.owntech.org/
 * @ Mail: guillaume.arthaud.pro@gmail.com
 * @ Create Time: 2022-08-30 09:31:24
 * @ Modified by: Matthias Riffard
 * @ Modified time: 2022-09-05 15:29:05
 * @ Description:
 -->

<div class="my-2">
	<div class="tab-content my-3" id="nav-tabContent">
		<div class="tab-pane tab-pane-push fade" id="nav-command" role="tabpanel" aria-labelledby="nav-command-tab">
			<%- include('commandTab'); %>
		</div>
		<div class="tab-pane tab-pane-push fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab">
			<%- include('settingsTab'); %>
		</div>
		<div class="tab-pane tab-pane-push fade" id="nav-chartConfig" role="tabpanel" aria-labelledby="nav-chartConfig-tab">
			<%- include('chartConfigTab'); %>
		</div>
		<div class="tab-pane tab-pane-push fade" id="nav-record" role="tabpanel" aria-labelledby="nav-record-tab">
			<%- include('recordTab'); %>
		</div>
	</div>
</div>