<row>
	<button type="button" aria-pressed="false" id="terminalBtnTimestamp" class="btn btn-primary"><i class="fa-solid fa-stopwatch"></i>&nbsp;Timestamp</button>
	<button type="button" aria-pressed="false" id="terminalBtnFormatted" class="btn btn-primary"><i class="fa-solid fa-droplet"></i></i>&nbsp;Formatted</button>
	<button type="button" aria-pressed="false" id="terminalBtnDataMode" class="btn btn-primary"><i class="fa-solid fa-arrow-down-1-9"></i></i>&nbsp;Decimal mode</button>
</row>
<row>
	<pre id="terminalPre">
	</pre>
</row>
<row>
	<button type="button" id="terminalclearBtn" class="btn btn-primary clearBtn"><i class="fa-solid fa-trash-can"></i>&nbsp;Clear</button>
	<button type="button" class="btn pauseBtn" aria-pressed="true" id="pauseBtnTerminal">non init</button>
</row>
