<row>
	<pre class="terminalPre" id="terminalData">
	</pre>
</row>

<div class="input-group input-group-sm mb-3">
	<row>
		<button type="button" aria-pressed="false" id="terminalBtnTimestamp" class="btn btn-primary"><i class="fa-solid fa-stopwatch"></i>&nbsp;Timestamp</button>
		<button type="button" aria-pressed="false" id="terminalBtnFormatted" class="btn btn-primary"><i class="fa-solid fa-droplet"></i></i>&nbsp;Formatted</button>
		<button type="button" aria-pressed="false" id="terminalBtnDataMode" class="btn btn-primary"><i class="fa-solid fa-arrow-down-1-9"></i></i>&nbsp;Decimal mode</button>
	</row>
</div>

<row>
	<div class="input-group mb-3" id="termBufSizeDiv">
		<span class="input-group-text" id="basic-addon1"><span style="font-weight:bolder">#</span>&nbsp;Lines</span>
		<input type="number" id="termBufSizeInput" class="form-control" value="20" min="0" max="1000">
	</div>
</row>
