<row>
	<button type="button" id="terminalBtnClear" class="btn btn-primary"><i class="fa-solid fa-trash-can"></i>&nbsp;Clear</button>
	<button type="button" aria-pressed="false" id="terminalBtnTimestamp" class="btn btn-primary"><i class="fa-solid fa-stopwatch"></i>&nbsp;Timestamp</button>
	<button type="button" aria-pressed="false" id="terminalBtnColored" class="btn btn-primary"><i class="fa-solid fa-brush"></i></i>&nbsp;Colored</button>
</row>
<row>
	<pre id="terminalPre">
	</pre>
</row>
