/**
 * @ Author: Guillaume Arthaud
 * @ Email: guillaume.arthaud.pro@gmail.com
 * @ Create Time: 2022-07-20 17:19:33
 * @ Modified by: Guillaume Arthaud
 * @ Modified time: 2022-07-25 14:52:50
 */

 /* Terminal */
#terminalPre {
	height: 20em;
	color: whitesmoke;
	display: block;
	background-color: #333;
	padding: 2px;
	border: 1px solid #888;
	margin-top: 1em;
}

/* Tabs */

.tab-pane-push {
    margin-top: 1em;
}
