<!--
 * @ Licence: OwnPlot, the OwnTech data plotter. Copyright (C) 2022. Matthias Riffard & Guillaume Arthaud - OwnTech Foundation.
	Delivered under GNU Lesser General Public License Version 2.1 (https://opensource.org/licenses/LGPL-2.1)
 * @ Website: https://www.owntech.org/
 * @ Mail: owntech@laas.fr
 * @ Create Time: 2022-08-30 09:31:24
 * @ Modified by: Jean Alinei
 * @ Modified time: 2022-09-07 13:45:22
 * @ Description:
 -->


<!-- TODO: implement custom mode
<div id="customForm">
    <div class="input-group input-group-sm mb-3">
        <label class="input-group-text" >Frame Start</label>
        <input type="text" id="frame-start" class="form-control" value="">
    </div>

    <div class="input-group input-group-sm mb-3">
        <label class="input-group-text" >Frame Size</label>
        <input type="number" class="form-control" value="1" min="1" max="1000000">
    </div>
    
    <div class="input-group input-group-sm mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Number Type</label>
        <select class="form-select" id="nbType" name="nbType">
            <option value="uint8" selected>uint8</option>
            <option value="uint16">uint16</option>
            <option value="uint32">uint32</option>
            <option value="int8">int8</option>
            <option value="int16">int16</option>
            <option value="int32">int32</option>
            <option value="float">float</option>
            <option value="double">double</option>
        </select>
    </div>
    
    <div class="input-group input-group-sm mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Endianness</label>
        <select class="form-select" id="endianness" name="endianness">
            <option value="LE">Little Endian</option>
            <option value="BE">Big Endian</option>
        </select>
    </div>
</div>
-->
