<!--
 * @ Licence: OwnPlot, the OwnTech data plotter. Copyright (C) 2022. Matthias Riffard & Guillaume Arthaud - OwnTech Foundation.
	Delivered under GNU Lesser General Public License Version 2.1 (https://opensource.org/licenses/LGPL-2.1)
 * @ Website: https://www.owntech.org/
 * @ Mail: owntech@laas.fr
 * @ Create Time: 2022-08-30 09:31:24
 * @ Modified by: Jean Alinei
 * @ Modified time: 2022-09-07 13:46:44
 * @ Description:
 -->

 <!-- chartApp.ejs -->
 <div class="row mx-0 px-0 chartBar" id="<%- app_id -%>">
	<canvas class="my-0 py-4 pe-4" id="myChart_<%- app_id -%>"></canvas>
 </div>
