<!-- terminal.ejs -->
<div class="row mx-0 px-0 terminalBar" id="<%- app_id -%>">
	<pre class="terminalPre pe-4" id="terminalData_<%- app_id -%>"></pre>
</div>

<!-- trash from here -->
<div class="row mx-0 px-0 terminalBar" id="app2000">
	<pre class="terminalPre pe-4" id="terminalData_app2000"></pre>
</div>

<div class="row mx-0 px-0 terminalBar" id="terminalBar">
	<pre class="terminalPre pe-4" id="terminalData"></pre>
</div>
